@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Roboto Condensed", sans-serif;
    /* margin: 0;
    padding: 0; */
}

body {
    background-color: rgb(215, 184, 237);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin: 0 0 200px 0;
}

nav{
    position: fixed;
    top: 20px;
    transform: translate(-50%,0);
    left: 50%;
    width: auto;
    padding: 4px 4px 4px 16px;
    background-color: rgba(240, 255, 255, 0.25);
    border-radius: 12px;
    align-items: center;
    z-index: 100;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

nav ul li:first-child{
    font-weight: 500;
}

nav ul li a{
    display: inline-block;
    color: rgb(30, 30, 30);
    text-align: center;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 8px;
    transition: ease-out 0.3s all;
}

.corner-data:first-child{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    pointer-events: all;
}

.corner-data{
    color: rgb(57, 53, 56);
}

nav ul li a:hover, nav ul li a.active{
    background-color: rgba(240, 255, 255, 0.8);
}

.corner-data-wrap {  
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    ". ."
    ". .";
}
.corner-data{
    padding: 8px;
}

section{
    height:100svh;
    width: 100%;
    align-content: center;
}

section.loop{
    height: 125dvh;
    align-content: normal;
}


.circulo1{
    background-color: cornflowerblue;
    border-radius: 100%;
    width: 120px;
    height: auto;
    aspect-ratio: 1/1;

}

svg {
  overflow: visible;
  height: 100%;
  
  /* Fix Safari rendering bug */
  transform: translateZ(0);
}

#path{
    stroke-width: 1px;
    fill: none;
    stroke:midnightblue; 
}

#circuloPath{
    fill: dodgerblue;
}

#circulo3{
    background-color: cornflowerblue;
    border-radius: 100%;
    width: 120px;
    height: auto;
    aspect-ratio: 1/1;
}

.loop{
    justify-items: center;
    justify-content: center;
}


.card{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    transform: translate(0, -50%);
}

#card1{
    background-color: tomato;
}

#card2{
    background-color: rebeccapurple;
}

#card3{
    background-color:royalblue;
}